body {
  font-family: Arial;
  background: #f5f5f5;
  padding: 20px;
}

button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
  margin: 5px;
}

.offer {
  background: white;
  padding: 10px;
  margin: 10px;
}